body{
    height: 100%vh;
}




.green-line{
    padding: 5rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0,150,136,255);
} 

.box-container{
    height: 90vh;
    background-color: white;
    margin-top: 5vh;
    overflow: hidden;
}

.left-sidebar{
    width: 40%;
    border-right: 1px solid gray;
    flex-shrink: 0;
}


.chat-container{
    flex-grow: 1;
    /*conoscendo la larghezza di "left-side" potrei fare anche: 
    width: calc( 100% - 250 );*/
    background-image: url(../img/mine.jpg);
}

.avatar-icon-container{
    width: 40px;
    height: 40px;
    background-color: rgba(0,150,136,255);
    color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

    

.bell-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.user-img-container{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border-color: rgba(242,242,242,255);
}

.primo-user{
    width: 100%;
    object-fit: cover;
}

.chat-container{
    row-gap: 1rem;
    

}

.opening-user{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
}

.immagine-user-open{
    width: 100%;
    object-fit: cover;

}

.chat-message{
    padding: 1rem;
    background-color: white;
    max-width: 50%;
    min-width: 20%;
    border-radius: 1rem;
}

.sent{
    background-color: rgba(213,249,186,255);
    align-self: flex-end;
}

.active-el{
    background-color: rgb(73, 72, 72);
}